archlinux-logout/
archlinux-tweak-tool/
arcolinux-welcome-app/
BetterDiscord/
"BetterDiscord Installer"/
bpytop/
BraveSoftware/
calcurse/
cmus/
Code/
conky/
dconf/
discord/
eww/
exercism/
fontconfig/
galculator/
gconf/
gh/
google-chrome/
gpick/
gtk-2.0/
gtk-3.0/
htop/
kitty/
Kvantum/
libfm/
mimeapps.list
Mousepad/
nano/
nitrogen/
nomacs/
opera/
pamac/
paru/
pavucontrol.ini
pcmanfm/
polybar.old/
Postman/
procps/
pulse/
qt5ct/
ranger/
rofi/
simple-update-notifier/
spotify/
Thunar/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
variety/
volumeicon/
wal/
whatsapp-nativefier-d40211/
xfce4/
yad.conf
yay/
